importFrom("dplyr", "%>%", "bind_rows")
importFrom("tidyr", "pivot_wider")
importFrom("purrr", "map")
importFrom("stats", "runif")
importFrom("usethis", "use_data")
export(func_gamma)
export(func_eta)
export(func_epsilon)
export(func_tau)

export(run_m)
export(unique_choice)
export(arrange_data)
export(add_NA)
export(set_initial_value)
export(decision_making)
export(model_fit)
export(digits)
export(output)

S3method(summary, binaryRL)
export(summary.binaryRL)
